@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.htmx-indicator-spinner {
  display: none;
}

.htmx-request .htmx-indicator-spinner {
  display: block;
}

.htmx-request.htmx-indicator-spinner {
  display: block;
}

.htmx-indicator-button {
  display: block;
}

.htmx-request .htmx-indicator-button {
  display: none;
}

.htmx-request.htmx-indicator-button {
  display: none;
}
