package pages

import "github.com/DeepAung/deep-art/api/types"
import "github.com/DeepAung/deep-art/views/layouts"

templ AdminHome(user types.User) {
	@layouts.WithNav(layouts.Admin, user) {
		<h1>Admin Page</h1>
	}
}
