package pages

import "github.com/DeepAung/deep-art/views/layouts"

templ Welcome() {
	@layouts.Simple() {
		<h1 class="text-teal-500">Welcome to Deep Art. A place where you can find every art you want!!!</h1>
		<a href=""></a>
	}
}
